body {
    background-image: url('./gold-background-with-confetti-streamers_1048-10083.avif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #eeeeee;
    font-family: Arial, sans-serif;
    text-align: center;
}
.room {
    color: black;
    width: 600px;
    margin: 80px auto;
    padding: 40px;
    font-size: 3.5vh;
    font-family:cursive;
}


.button {
display: block;
width: 350px;
margin: 15px auto;
padding: 15px;
background-color: yellow;
color: black;
text-decoration: none;
border-radius: 8px;
}
.button:hover {
background-color: #cccccc;
}

